[Unit]
Description=Renksu physical access control system
After=network.target

[Service]
Type=simple
User=user
Group=user
WorkingDirectory=/home/user/renksu/
ExecStart=/home/user/renksu/run.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target